<div class="panel panel-default">
  <div class="panel-body">
    <form id="product-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            [ngModel]="product?.name"
            required
            #name="ngModel"
            class="form-control required"
            size="120"
            max="120"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="email">Email:</label>
          <input
            type="text"
            id="email"
            name="email"
            [ngModel]="product?.email"
            required
            #email="ngModel"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            class="form-control required"
            size="120"
            max="255"
          />
          <div *ngIf="!email.valid && email.touched" class="red-font">
            <p>Enter a valid Email address</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="phone">Phone:</label>
          <input
            type="text"
            id="phone"
            name="phone"
            [ngModel]="product?.phone"
            #phone="ngModel"
            pattern="\D*([2-9]\d{2})(\D*)([2-9]\d{2})(\D*)(\d{4})\D*"
            class="form-control invalid"
            size="150"
            max="255"
          />
          <div *ngIf="!phone.valid && phone.touched" class="red-font">
            <p>Enter a valid phone number</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="imageUrl">Image URL:</label>
          <input
            type="text"
            id="imageUrl"
            name="imageUrl"
            [ngModel]="product?.imageUrl"
            #imageUrl="ngModel"
            class="form-control"
            size="150"
            max="255"
          />
        </div>
      </div>

      <div class="row">
        <div class="form-group-list">
          <label for="groupList">Group Products:</label>

          <div *ngIf="!isValidProduct" class="alert alert-danger">
            <p>
              Product can not be added to the group. It is already in the group
              or it is the currenct product.
            </p>
          </div>

          <div
            class="row"
            id="groupList"
            style="min-height: 3rem"
            dnd-droppable
            [dropZones]="['productGroup']"
            (onDropSuccess)="addToGroup($event)"
          >
            <div *ngFor="let product of groupProducts; let i = index">
              <div>
                <shopping-list-product-item
                  class="col-sm-11"
                  [product]="product"
                ></shopping-list-product-item>
                <button
                  class="btn btn-danger col-sm-2 deleteButton"
                  (click)="onRemoveItem(i)"
                >
                  X
                </button>
              </div>
            </div>
            <span class="dragMsg" *ngIf="groupProducts?.length < 1"
              >Drag products in group here</span
            >
          </div>
        </div>
      </div>

      <div
        *ngIf="(!name.valid && name.touched) || (!email.valid && email.touched)"
        class="alert alert-danger"
      >
        <p>The Name and Email fields are required.</p>
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!email.valid"
          >
            Save
          </button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
