<div class="panel panel-default">
  <div class="panel-body">
    <form id="product-edit" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            [ngModel]="product?.name"
            required
            #name="ngModel"
            class="form-control required"
            size="120"
            max="120"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="description">Description:</label>
          <input
            type="text"
            id="description"
            name="description"
            [ngModel]="product?.description"
            required
            #description="ngModel"
            class="form-control required"
            size="120"
            max="255"
          />
          <!-- <div *ngIf="!description.valid && description.touched" class="red-font">
            <p>Enter a valid Description address</p>
          </div> -->
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="quantity">Quantity:</label>
          <input
            type="text"
            id="quantity"
            name="quantity"
            [ngModel]="product?.quantity"
            #quantity="ngModel"
            class="form-control invalid"
            size="150"
            max="255"
          />
          <!-- <div *ngIf="!quantity.valid && quantity.touched" class="red-font">
            <p>Enter a valid quantity number</p>
          </div> -->
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="expectedPrice">Expected Price:</label>
          <input
            type="text"
            id="expectedPrice"
            name="expectedPrice"
            [ngModel]="product?.expectedPrice"
            #expectedPrice="ngModel"
            class="form-control"
            size="150"
            max="255"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="actualPrice">Actual Price:</label>
          <input
            type="text"
            id="actualPrice"
            name="actualPrice"
            [ngModel]="product?.actualPrice"
            #actualPrice="ngModel"
            class="form-control"
            size="150"
            max="255"
          />
        </div>
      </div>

      <div
        *ngIf="(!name.valid && name.touched) || (!quantity.valid && quantity.touched)"
        class="alert alert-danger"
      >
        <p>The Name and Quantity fields are required.</p>
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!name.valid"
          >
            Save
          </button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
