<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="panel panel-default">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <span class="title pad-left-right">Products</span>
          </div>
          <div class="row">
            <div class="input-group pull-left pad-left-right col-xs-7">
              <input
                type="text"
                #searchBox
                (keyup)="search(searchBox.value)"
                class="form-control"
                placeholder="Enter a search value"
              >
              <i class="fa fa-search"></i>
            </div>
            <div class="pull-right pad-left-right">
              <a class="btn btn-success" [routerLink]="['new']">New Product</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="center-panel">
      <shopping-list-product-item
        *ngFor="let product of products | productsFilter:searchedTerm"
        [product]="product"
        dnd-draggable
        [dragEnabled]="true"
        [dragData]="product"
        [dropZones]="['productGroup']"
        ></shopping-list-product-item>
    </div>
  </div>

</div>
