.panel-heading {
  background-color: #2b6777;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

span {
  color: #fff;
}

.products-titles {
  font-weight: bold;
  font-size: 1.1em;
}

.products-titles div:nth-child(1) {
  padding-left: 32px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.pad-left-right {
  padding-left: 15px;
  padding-right: 30px;
}

i {
  width: 2px;
  position: relative;
  top: -37px;
  left: 350px;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  z-index: 20;
  color: #8f8f8f;
}
