<a
  routerLinkActive="active"
  routerLink="{{ product?.id }}"
  class="list-group-item clearfix"
  (click)="onSelected(); $event.preventDefault()"
>
  <div class="row">
    <div class="col-md-6">
      <p>{{ product?.name ? product?.name : "-" }} </p>
    </div>
    <div class="col-md-2" align="center">
      <p>{{ product?.quantity ? product?.quantity : "-" }} </p>
    </div>
    <div class="col-md-2" align="center">
      <p>{{ product?.expectedPrice ? product?.expectedPrice : "-" }} </p>
    </div>
    <div class="col-md-2" align="center">
      <p>{{ product?.actualPrice ? product?.actualPrice : "-" }} </p>
    </div>
  </div>
</a>
