<div class="panel panel-default">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-8">
              <h3>{{ product?.name }}</h3>
            </div>
            <div class="col-md-4">
              <div class="row crud-buttons">
                <a class="btn btn-danger spaced-button" (click)="onDelete()">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
                <a
                  routerLink="{{ product?.id }}/edit"
                  class="btn btn-success"
                  (click)="onEditProduct()"
                  >
                  <span class="glyphicon glyphicon-pencil"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="col-xs-12">
      <p><strong>Description:</strong> {{ product?.description }}</p>
      <p><strong>Quantity:</strong> {{ product?.quantity }}</p>
      <p><strong>Expected Price:</strong> {{ product?.expectedPrice }}</p>
      <p><strong>Actual Price:</strong> {{ product?.actualPrice }}</p>
    </div>
  </div>
</div>
