<section class="conctact-list-box">
  <header>
    <h3>{{ product?.name }}</h3>
    <div class="header-image-and-buttons">
      <div class="pull-left">
        <p>Select a Product to Edit or Delete</p>
      </div>
      <div class="pull-right">
        <a
          routerLink="{{ product?.id }}/edit"
          class="btn btn-info spaced-button"
          (click)="onEditProduct()"
          >Edit</a
        >
        <a class="btn btn-danger spaced-button" (click)="onDelete()">Delete</a>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="col-xs-12">
      <p><strong>Description:</strong> {{ product?.description }}</p>
      <p><strong>Quantity:</strong> {{ product?.quantity }}</p>
      <p><strong>Expected Price:</strong> {{ product?.expectedPrice }}</p>
      <p><strong>Actual Price:</strong> {{ product?.actualPrice }}</p>
    </div>
  </div>
</section>
